Source: sawtooth-seth-rpc
Maintainer: Hyperledger Sawtooth <HyperledgerSawtooth@gmail.com>
Section: rust
Priority: optional
Standards-Version: 3.9.6
Homepage: https://github.com/hyperledger/sawtooth-seth
Package: sawtooth-seth-rpc
Architecture: all
Depends: libssl-dev, libzmq3-dev
Description: Sawtooth Seth RPC
Version: 0.2.0
