# Exclude IDE and Editor files
/.idea/
*.sublime*


# Everything else
/build/

/families/**/__pycache__/

/docs/build/
/docs/source/_autogen/
/docs/source/cli/output/

/integration/**/__pycache__/

/families/seth/bin/
/families/seth/src/sawtooth_seth/protobuf/
/families/seth/rpc/Cargo.lock
/families/seth/rpc/target/
/families/seth/rpc/src/messages/*.rs
!/families/seth/rpc/src/messages/mod.rs
/families/seth/rpc/tests/protobuf/
