Source: sawtooth-seth-cli
Maintainer: Hyperledger Sawtooth <HyperledgerSawtooth@gmail.com>
Section: go
Priority: optional
Standards-Version: 3.9.6
Homepage: https://github.com/hyperledger/sawtooth-seth
Package: sawtooth-seth-cli
Architecture: all
Depends: libssl-dev
Description: Sawtooth Seth CLI
Version: 0.2.0
