Source: sawtooth-seth-cli
Maintainer: Hyperledger Sawtooth <HyperledgerSawtooth@gmail.com>
Section: rust
Priority: optional
Standards-Version: 3.9.6
Homepage: https://github.com/hyperledger/sawtooth-seth
Package: sawtooth-seth-cli
Architecture: all
Description: Sawtooth Seth CLI
Version: 0.2.0
